
body {
    padding: 50px;
    margin: 0;
    background-color: #ffebab;
    text-align: center;
}

table {
    display: inline-table;
    width: 300px;
    height: 300px;
    background-color: #333;
    border-radius: 20%;
}

.auge {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
}

table, table td {
    border: none;
}

table td {
    padding: 20px;
}

a {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    font-family: verdana;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #666;
}

p.random {
    width: 200px;
    height: 200px;
    margin: auto;
    font-size: 120px;
    font-family: 'arial',sans-serif;
    background-color: #ef2b2b;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: 190px;
    color: #fff;
}
