body {
    background-color: #ffffff;
    color: #000000;
    font-family: Helvetica, serif;
}
table{
    background-color:#f0f0f0;
    padding: 3vh;
    width: 60%;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

iframe {
    height: 60vh;
    width: 100%;
    border-radius: 4px;
}

button{
    padding: 1vh;
    border: 2px solid #95ad09;
    border-radius: 4px;
    display: inline-block;
    font-size: 20px;
    color: #ffffffff;
    background-color: #95ad09;
    width: 200px;
}

input[name=benutzername] {
    width: 65%;
    padding: 1vh;
    font-size: 20px;
    margin: 4px 0;
    display: inline-block;
    border: 2px solid #95ad09;
    border-radius: 4px;
}

textarea[name=nachricht]{
    width: 100%;
    height: 8vh;
    margin: 8px 0;
    font-size: 20px;
    display: inline-block;
    border: 2px solid #95ad09;
    border-radius: 4px;
}