body {
    margin: 0;
    background-color: #3b3b3b;
    text-align: center;
}

form {
    display: inline-block;
    width: 240px;
    border-radius: 25px;
    padding: 20px;
}

table {
    width: 100%;
}
table, table td {
    border:none;
}

input[type="text"] {
    background-color: #ffffff;
    color: #666;
}

input, button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
}

button {
    background-color: #212121;
    font-weight: bold;
    color: #fff;
    border: none;
}

td:last-child>button {
    background-color: #eb7400;
}